body {
    margin: 0;
    padding: 0;
}
h1 {
    color: rgb(103, 171, 0);
}

header {
    background-color: white;
}

nav {
    background-color: red;
    color: rgb(9, 9, 9);
    border-bottom: 1px solid black;
    padding: 16px;
}

nav a {
    text-decoration: none;
    color: white;
}

/* Main content styles */

.recipe-link {
    text-decoration: none;
    color: rgb(103, 171, 0);
}
/* Grid layout for recipe list */
.recipe-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);/* Adjust as needed */
}

.grid-item {
    background-color: white;
    padding: 10px;

}

/* Image styles */
img {
    height: 200px;
}


/* Footer styles */
footer {
    background-color: greenyellow;
    padding: 24px;
}
/* Zebra striping for table rows */
.striped-table tbody tr:nth-child(even) {
    background-color: #979494; /* Adjust as needed */
}
